.HeroSection {
    padding: 2% 0 5%;
    margin: 0;
    max-width: 100vw;
    width: 100%;

}

.Nomobile {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.Signature {
    width: 80%;
    margin: auto;
}

.SigBox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}