/*.menu {
        background-color: #275EFE;
        -webkit-perspective: 600px;
        width: 64px;
        height: 64px;
        position: relative;
        cursor: pointer;
        border: 1px solid;
        border-radius: 100%;
        border-color: #275EFE;
  }
*/.MenuIcon {
  z-index: 5;
  height: 50px;
  width: 90px;
  fill: #F26C58;
}

.navLink {
  font-size: 2rem;
  color: darksalmon;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-variant: small-caps;
}

.navLink:hover {
  text-decoration: none;
  color: darksalmon;
}

.navLink:focus{
  text-decoration: none;
  color: darksalmon;
}

